/* Stars.css */

/* Definindo a animação para o fundo com as estrelas */
@keyframes starAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.stars {
  animation: starAnimation 60s linear infinite;
  background-size: 200% 200%; /* Ajuste o tamanho para um movimento suave */
  background-position: 0 0;
}
